{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}

{{this.registerJs("HomeController.listing();")}}
{% set limit = 20 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}


    <!--placeholder temp -->
    <section class="featured-carousel">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">

                {% for i in 0..3 %}
                    {% if articles[i] %}                                                                
                        {{this.render('partials/_single-article.twig', {article: articles[articleCount], position: 'swiper-wrapper', containerClass: 'swiper-slide', swap: 'false'}) | raw}}
                        {% set articleCount = articleCount + 1 %}
                    {% endif %}
                {% endfor %}

            </div>

            <!-- Add Pagination -->
            <div class="custom-pagination">
                <div class="container">
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <!-- Add Arrows -->
            <div class="container swiper-button-container">
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
        </div>
    </section><!--featured-carousel-->

    <div class="content-block container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
            <div class="row">
                <!--article blocks -->

                    {% set rowCards = ['col-sm-8 card-lg', 'col-sm-4 card-md', 'col-sm-4 card-md', 'col-sm-4 card-md', 'col-sm-4 card-md', 'col-sm-4 card-md', 'col-sm-8 card-lg'] %}                                                                

                    {% for i in 0..6 %}

                        {% if articles[articleCount] %}                                                                
                            {{this.render('partials/_single-article.twig', {article: articles[articleCount], containerClass:  rowCards[i] }) | raw }}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}

                    {% endfor %}


                </div><!--row-->
            </div><!--col-sm-9-->


            <div class="col-md-3 col-sm-12">
                <div class="row">

                    {% set rowCards = ['col-sm-6 col-md-12 card-sm', 'col-sm-6 col-md-12 card-sm', 'col-sm-6 col-md-12 card-sm', 'col-sm-6 col-md-12 card-md'] %}                                                                
                    {% for i in 0..3 %}

                        {% if articles[articleCount] %}                                                                
                            {{this.render('partials/_single-article.twig', {article: articles[articleCount], containerClass:  rowCards[i] }) | raw }}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}

                    {% endfor %}

                </div><!--row-->
            </div><!--col-sm-3-->

        </div><!--row-->
    </div><!--content-block-->





    <div class="row-scroll">
        <div class="content-block container">

            {% for i in 0..2 %}

                {% if articles[articleCount] %}                                                                
                    {{this.render('partials/_single-article.twig', {article: articles[articleCount], containerClass:  'col-sm-4 card-rec' }) | raw }}
                    {% set articleCount = articleCount + 1 %}
                {% endif %}

            {% endfor %}
        </div><!--content-block-->
    </div><!--row-scroll-->





    <div class="content-block container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
            <div class="row">
                <!--article blocks -->
                    {% set rowCards = ['col-sm-8 card-lg', 'col-sm-4 card-md', 'col-sm-4 card-md', 'col-sm-4 card-md', 'col-sm-4 card-md', 'col-sm-4 card-md', 'col-sm-8 card-lg'] %}                                                                

                    {% for i in 0..6 %}

                        {% if articles[articleCount] %}                                                                
                            {{this.render('partials/_single-article.twig', {article: articles[articleCount], containerClass:  rowCards[i] }) | raw }}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}

                    {% endfor %}


                </div><!--row-->
            </div><!--col-sm-9-->


            <div class="col-md-3 col-sm-12">
                <div class="row">

                    {% set rowCards = ['col-sm-6 col-md-12 card-sm', 'col-sm-6 col-md-12 card-sm', 'col-sm-6 col-md-12 card-sm', 'col-sm-6 col-md-12 card-md'] %}                                                                
                    {% for i in 0..3 %}

                        {% if articles[articleCount] %}                                                                
                            {{this.render('partials/_single-article.twig', {article: articles[articleCount], containerClass:  rowCards[i] }) | raw }}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}

                    {% endfor %}

                </div><!--row-->
            </div><!--col-sm-3-->

        </div><!--row-->
    </div><!--content-block-->


<!--footer-->
