<div id="pp-banner"></div>

<header id="masthead" class="site-header container-fluid {# site-header-extra-padding #}">
    <div class="site-header-main">
            
        <div class="site-branding-top row">
            <div class="section-left col-md-4 col-sm-6">
                <div class="social-links">
                    <ul>
                        <li><a href="https://www.facebook.com/newsroomnz"><span class="sr-only">Facebook</span><span class="icon-facebook"></span></a></li>
                        <li><a href="https://twitter.com/NewsroomNZ"><span class="sr-only">Twitter</span><span class="icon-twitter"></span></a></li>
                        <li><a href="https://www.linkedin.com/company/newsroom-new-zealand"><span class="sr-only">Linkedin</span><span class="icon-linkedin"></span></a></li>

                        {% if not _User.isGuest() %}
                            {% set user = _User.getUser() %}
                            <li class="logedin"><a href="javscript:void(0)" class="" id="profile">
                                {{ (user.firstname ~" "~ user.lastname) | truncate(15) | title}}
                            </a></li>
                        {% endif %} 

                    </ul>
                </div><!-- .social-links-->

                <div class="secondary-menu">
                    <ul>
                        <li><a href="{{networkData.defaultBlogUrl}}">Home</a></li>
                        <li><a href="https://{{networkData.defaultDomain.domain}}/@about">About</a></li>
                        <li><a href="https://{{networkData.defaultDomain.domain}}/@contact">Contact</a></li>
                    </ul>
                </div><!-- .secondary-menu-->
            </div><!-- .menu-left-->  

            <div class="section-right navbar-right col-md-8 col-sm-2">
                <div class="rooms-link">
                    <ul>

                        {% set menuItems = blog.blogHeaderMenu %}

                        {% for parentItem in menuItems  %}

                            {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                            {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}

                            {% if (parentItem.blogTitle | lower != roomInfo[0] | lower ) %}
                                <li>
                                    <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                                        <img src="{{networkData.templatePath}}/static/images/{{parentItem.blogTitle | lower}}-logo.svg?cache=1" alt="{{parentItem.blogTitle}}-logo.svg">
                                    </a>
                                </li>
                            {% endif  %}

                        {% endfor %}

                    </ul>
                </div><!-- .rooms-link-->

                {# <a href="#" class="btn btn-primary pull-right">Become a supporter</a> #}
             </div>
        </div><!-- .site-branding-top -->


        <div class="site-branding-bottom row">
            <div class="section-left col-md-4 col-sm-6">
                <div class="logo pull-left">
                    <a class="navbar-brand" href="{{roomInfo[1]}}" rel="Home" tabindex="-1" title="Home">
                        <img src="{{networkData.templatePath}}/static/images/{{roomInfo[0] | lower}}-logo.svg?cache=1" alt="logo" class="main-logo">
                    </a>
                    <a class="mobile-logo navbar-brand" href="{{networkData.defaultBlogUrl}}" rel="Home" tabindex="-1" title="Home">
                        <img src="{{networkData.templatePath}}/static/images/newsroom-icon.png" alt="logo" class="mobile-logo">
                    </a>
                </div>
            </div><!--section-left-->

            <div class="section-right col-md-8 col-sm-6" >
                <nav class="sb-custom-menu">
                    <a href="#" class="menu-mobile">MENU</a>
                    

                    <div class="menuContainer">
                        <ul class="pages">
                            <li><a href="https://{{networkData.defaultDomain.domain}}/@about">About</a></li>
                            <li><a href="https://{{networkData.defaultDomain.domain}}/@contact">Contact</a></li>
                        </ul>

                        <ul id="menu-primary-menu" class="menu channels">
                            {% for childItem in submenu %}
                                {% set activeClass = (childItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                                <li class="menu-item">
                                    <a class="{{activeClass}}" href="{{childItem.link}}">{{ childItem.label }}</a>
                                </li>
                            {% endfor %}

                            <li id="menu-item-search" class="menu-item menu-item-search">
                                <a href="#" class="search-icon"><span class="icon-search icon"></span><span class="sr-only">Expand search</span></a>
                    
                                <ul class="sub-menu normal-sub search-sub-menu">
                                    <li class="search-container">
                                        <fieldset>
                                            <form method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
                                                <label for="header-search" class="assistive-text sr-only">Search</label>
                                                <input type="text" class="field" name="s" id="header-search" placeholder="Search" required="">
                                                <button class="btn btn-default" type="submit" id="searchsubmit">
                                                    <span class="icon icon-search-blk"></span>
                                                    <span class="screen-reader-text"></span>
                                                </button>
                                            </form>
                                        </fieldset>
                                    </li>
                                </ul>
                            </li>
                        </ul>







                    {#  _____________________________________________________

                                            MOBILE ROOM LIST
                        _____________________________________________________  #}

                        <div id="menu-secondary-menu" class="secondary-menu">
                            <ul>
                            {% for parentItem in menuItems  %}
                                {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                                {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}

                                {% if (parentItem.blogTitle | lower != roomInfo[0] | lower) %}
                                    <li>
                                        <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}} icon icon-right-angle" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                                            <img src="{{networkData.templatePath}}/static/images/{{parentItem.blogTitle | lower}}-logo.svg?cache=1" alt="{{parentItem.blogTitle}}-logo.svg">
                                        </a>
                                    </li>
                                {% endif  %}

                            {% endfor %}
                            </ul>
                        </div>
                    </div>

                </nav>  
            </div><!--section-right-->
        </div><!-- .site-branding-bottom -->



        <div id="foldaway-panel" class="site-branding-bottom-foldaway row" >
            <div class="section-left col-md-4 col-sm-6">
                <div class="logo pull-left">
                    <a class="navbar-brand" href="{{networkData.defaultBlogUrl}}" rel="Home" tabindex="-1" title="Home">
                        <img src="{{networkData.templatePath}}/static/images/nr-logo.svg" alt="logo" class="mobile-logo">
                    </a>
                </div>
            </div><!--section-left-->

            <div class="section-right col-md-8 col-sm-6">
                <nav class="sb-custom-menu-foldaway">
                    <a id="menu-foldaway" href="#" class="menu-mobile">MENU</a>
                </nav>
            </div>














    {#  _____________________________________________________

                            FOLDAWAY MENU
        _____________________________________________________  #}


            <div id="menu-top-foldaway" class="site-branding-top row hide foldaway">
                <div class="section-left col-md-6 col-sm-6">
                    <div class="social-links">
                        <ul>
                            <li><a href="https://www.facebook.com/newsroomnz"><span class="sr-only">Facebook</span><span class="icon-facebook"></span></a></li>
                            <li><a href="https://twitter.com/NewsroomNZ"><span class="sr-only">Twitter</span><span class="icon-twitter"></span></a></li>
                            <li><a href="https://www.linkedin.com/company/newsroom-new-zealand"><span class="sr-only">Linkedin</span><span class="icon-linkedin"></span></a></li>
                        </ul>
                    </div><!-- .social-links-->

                    <div class="secondary-menu">
                        <ul>
                            <li><a href="{{networkData.defaultBlogUrl}}">Home</a></li>
                            <li><a href="https://{{networkData.defaultDomain.domain}}/@about">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div><!-- .secondary-menu-->
                </div><!-- .menu-left-->  
                
                <div class="section-right navbar-right col-md-6 col-sm-2">
                    <div class="rooms-link">
                        <ul>

                            {% set menuItems = blog.blogHeaderMenu %}
                            {% for parentItem in menuItems  %}
                                {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                                {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}
                                {% if (parentItem.blogTitle != pageClass) %}
                                    <li>
                                        <a href="{{parentItem.link |raw}}" class="{{activeClass}} {{externalClass}}" {% if parentItem.target != "" %}target="{{parentItem.target}}"{% endif %}>
                                            <img src="{{networkData.templatePath}}/static/images/{{parentItem.blogTitle | lower}}-logo.svg" alt="{{parentItem.blogTitle}}-logo.svg">
                                        </a>
                                    </li>
                                {% endif  %}

                            {% endfor %}

                        </ul>
                    </div><!-- .rooms-link-->
                    <a href="#" class="btn btn-primary pull-right press-patron">Press Patron Donations</a>
                 </div>
            </div><!-- .site-branding-top -->







            <div id="menu-bottom-foldaway" class="site-branding-bottom row hide foldaway">

                <div class="section-right col-sm-12">
                    <nav class="sb-custom-menu">
                        <div id="menuContainer" class="menuContainer">
                            <ul id="menu-primary-menu" class="menu">

                                {% for i, childItem in submenu %}
                                    <li class="menu-item">
                                        <a href="{{ childItem.link }}">{{ childItem.label }}</a>
                                    </li>
                                {% endfor %}

                                <li id="menu-item-search" class="menu-item menu-item-search">
                                    <a href="#" class="search-icon"><span class="icon-search icon"></span><span class="sr-only">Expand search</span></a>

                                    <ul class="sub-menu normal-sub search-sub-menu">
                                        <li class="search-container">
                                            <fieldset>
                                                <form method="get" id="searchform" action="{{networkData.defaultBlogUrl}}/search">
                                                    <label for="header-search" class="assistive-text sr-only">Search</label>
                                                    <input type="text" class="field" name="s" id="header-search" placeholder="Search" required="">
                                                    <button class="btn btn-default" type="submit" id="searchsubmit">
                                                        <span class="icon icon-search-blk"></span>
                                                        <span class="screen-reader-text"></span>
                                                    </button>
                                                </form>
                                            </fieldset>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>  
                </div><!--section-right-->
            </div><!-- .site-branding-bottom -->

        </div> <!-- #foldaway-panel -->


















    {#  _____________________________________________________

                            PROFILE WINDOW
        _____________________________________________________  #}




        <div id="header__menu">
            <div class="profile__menu">
                 {% if user.profileMedia.id != '' %}
                        {% set profileImg = _Media.getMediaUrl(user.profileMedia, 80, 80, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) %}
                    {% else %}
                        {% set profileImg = networkData.templatePath ~ "/static/images/icons/profile.svg" %}
                    {% endif %}
              <div class="profile__menu-image" style="background-image: url({{ profileImg }})"></div>
              <div class="profile__menu-content">
                <div class="profile__menu-name">{{ (user.firstname ~" "~ user.lastname) | truncate(15) | title}}</div>
                <div class="profile__menu-email">{{user.email | truncate(23)}}</div>
                <a href="{{_AppHelper.buildUrl('user/my-news')}}" class="profile__menu-button">My News</a>
              </div>
              <ul class="profile__menu-navigation">
                  {% if _User.isAdminUser() %}
                      <li><a class="profile__menu-navigation-link" href="https://{{networkData.defaultDomain['domain']}}/admin" target="_blank">Admin</a></li>
                  {% endif %}
                  <li><a class="profile__menu-navigation-link" href="{{blogUrl}}/profile/{{user.username}}">View Profile</a></li>
                  <li><a class="profile__menu-navigation-link" href="https://{{networkData.defaultDomain['domain']}}/user/edit-profile">Settings</a></li>
                  <li><a class="profile__menu-navigation-link" href="{{_AppHelper.getLogoffUrl()}}">Sign Out</a></li>
              </ul>
            </div>
        </div>


    </div><!-- .site-header-main -->
</header>